body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.app {
  text-align: center;
  padding: 20px;
}

.buscador input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 20px;
}

.personajes-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.personaje {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.personaje img {
  width: 100%;
  border-radius: 8px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.favoritos {
  margin-top: 40px;
}

.favoritos h2 {
  margin-bottom: 20px;
}

.favoritos .personajes-lista {
  display: flex;
  justify-content: center;
}
